{% load wagtailcore_tags wagtailimages_tags static %}

<div class="nblock width1 height1 background1">

<div class="blocktext">
    <h3>{{ value }}</h3>
    {{ item.specific.teaser }}
</div>

<a class="plus" href="{{ value.url }}"><img src="{% static "img/plus.svg" %}"/></a>

</div>
