{% load wagtailcore_tags wagtailimages_tags static %}

<link rel="stylesheet" href="{% static 'css/flickity.min.css' %}" media="screen">
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>

<style>

    .carousel-cell {
        /* height: {{height}}vW;  height of carousel */
        width: 100%;
    }

    .carousel-cell img {
        width: 100%;
    }

    .flickity-prev-next-button  .flickity-button-icon{
        width: 100%;
        height:100%;
    }
    
    .flickity-button {
        background: transparent;
    }
    .flickity-prev-next-button {
        top: 100%;
        width: 1.45vW;
        height: 1.45vW;
        margin-top: 0.55vW;
    }

.flickity-prev-next-button.previous {
        right: 40px;
        left: auto;
        margin-left: -20px;
        float: right;

    }
    .flickity-prev-next-button.next {
        margin-left: -20px;
        float: right;
    }
/*
    .flickity-prev-next-button.previous {
        left: 0px;
    }

    .flickity-prev-next-button.next {
        right: 0px;
    }

    .flickity-prev-next-button {
        border-radius: 0%;
    }
*/

    .flickity-page-dots {
        display: none;
    }
    .image-caption {
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        min-height: 1.75vW;
    }
    .caption{
        min-height: 1.75vW;
    }

    @media(max-width: 800px) {
        .flickity-prev-next-button {
            top: 100%;
            width: 20px;
            height: 20px;
            margin-top: 7px;
            /* margin-top: -20px; */
        }
        .flickity-prev-next-button.next {
            right: 5px;
        }
        .image-caption, .caption{
            min-height: 25px;
        }
    }

    @media(min-width: 1500px) {
        .flickity-prev-next-button {
            top: 100%;
            width: 20px;
            height: 20px;
            margin-top: 7px;
            /* margin-top: -30px; */
        }
    }

</style>

<div id="image-slider-{{id}}"  class="nblock width{{block.value.width}}"> 
    <div id="flickity-carousel" class="carousel main-carousel">

        {% for a_value in block.value.images %}

            {% if ratio == 6 %}
                {% image a_value.image fill-600x400-c50 as img1 %}
                {% image a_value.image fill-800x533-c50 as img2 %}
                {% image a_value.image fill-1200x800-c50 as img3 %}
            {% elif ratio == 15 %}
                {% image a_value.image fill-600x1000-c50 as img1 %}
                {% image a_value.image fill-800x1333-c50 as img2 %}
                {% image a_value.image fill-1200x2000-c50 as img3 %}
            {% else  %}
                <!--  ration == 10 -->
                {% image a_value.image fill-600x600-c50 as img1 %}
                {% image a_value.image fill-800x800-c50 as img2 %}
                {% image a_value.image fill-1200x1200-c50 as img3 %}
            {% endif %}

            <div class="carousel-cell">
                <img src={{img3.url}} srcset="{{img2.url}} 800w, {{img3.url}} 1139w" alt="{{a_value.heading}}" />
            </div>
        {% endfor %}
    </div>
    <div class="caption">
        {{block.value.images.0.heading}}
    </div>
</div>
<script>
    window.addEventListener("load", function(){
        var elem = document.querySelector('#image-slider-{{id}} .main-carousel');
        var flkty = new Flickity( elem, {
        cellAlign: 'left',
        contain: true,
        arrowShape: "M 43.513609,90.111989 C 42.950373,83.141251 40.238377,76.896495 35.197075,70.961989 29.395397,64.132387 20.954574,58.933913 12.954275,57.263249 11.630488,56.986809 1.9889621,56.089801 0.05,56.062689 0.0225,56.062303 0,53.811989 0,51.061989 c 0,-4.628084 0.02603,-5.000096 0.35,-5.00128 1.6424852,-0.006 11.171745,-0.861336 12.393798,-1.112442 10.915581,-2.24292 21.690433,-10.453606 27.281067,-20.788808 1.84693,-3.414351 2.994998,-7.248684 3.403536,-11.367167 l 0.250996,-2.530303 h 7.160302 7.160302 l -6e-4,0.65 c -0.0018,1.701924 -0.466512,5.454744 -0.903174,7.293484 -1.229388,5.176824 -3.737288,9.78071 -7.945924,14.586746 -4.621562,5.277578 -11.850182,9.883156 -16.600218,10.576516 -0.88189,0.12873 -0.95,0.18006 -0.95,0.715962 v 0.577292 h 34.2 34.200005 v 6.4 6.4 h -34.200005 -34.2 v 0.552686 c 0,0.530558 0.07166,0.569802 1.789908,0.980266 8.616814,2.058424 19.292686,13.265036 23.095954,24.244144 0.39574,1.142404 1.0227,3.549904 1.393246,5.35 l 0.67372,3.272904 h -7.44891 -7.44891 l -0.1414,-1.75 z"
        });
        flkty.on( 'select', function() {
            var a_caption = document.querySelector('#image-slider-{{id}} .caption');
            a_caption.textContent = flkty.selectedElement.firstElementChild.alt;
        });
    });
</script>
