{% load wagtailcore_tags wagtailimages_tags static %}

<div class="nblock width{{value.width}} ">

{% if value.image  %}
    {% include "image.html" with width=value.width img=value.image %}
{% endif %}

{% if value.heading %}
<div class="blocktext bildunterschrift">
    <p>{{ value.heading }}</p>
</div>
{% endif %}

</div>
