{% load wagtailcore_tags wagtailimages_tags wagtailvideos_tags static %}

<div class="w4right video-block">
{% if item.specific.tags and item.specific.tags.count %}
<section class="tags pre_tags">
        {% for tag in item.specific.tags.all %}
            {# Loop through all the existing tags #}
            <a href="/projekte?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
        {% endfor %}
</section>    
{% endif %}
<a href="{{ item.url }}">
    {% if item.specific.header_video %}
       {% video item.specific.header_video autoplay=autoplay loop muted %}
    {% elif item.specific.image %}
        {% include "image.html" with width=value.rules.width img=item.specific.image %}
    {% endif %}
</a>
{% if item.specific.tags and item.specific.tags.count %}
<section class="tags post_tags">
        {% for tag in item.specific.tags.all %}
            {# Loop through all the existing tags #}
            <a href="/projekte?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %},{% endif %} 
        {% endfor %}
</section>    
{% endif %}

</div>

<div class="width2">
<a  href="{{ item.url }}">
    <h3 class="bottom-margin">{{ item }}</h3>
    {{ item.specific.teaser|richtext }}<br>
    mehr lesen ...
</a>
</div>
