{% load wagtailcore_tags wagtailimages_tags static %}

<link rel="stylesheet" type="text/css" href="/static/css/notie.min.css">

<script src="/static/js/fabric.min.js"></script>
<script src="/static/js/notie.min.js"></script>
<script src="https://rawgit.com/bramstein/fontfaceobserver/master/fontfaceobserver.js"></script>
<div id="bd-wrapper" class="startpage width6" ng-controller="CanvasControls">
{% image value.image original as my_image %}

   <style>

/*
    @font-face {
        font-family: 'Mueller';
        src: local(''),
          url('static/fonts/Mueller-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('static/fonts/Mueller-Black.woff') format('woff')  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
*/

   ::-webkit-color-swatch,
   ::-moz-color-swatch {
     border-color: transparent;
   }
   #drawing-color{
      border: 0px;
      background-color: transparent;
   }

    #enableDrawingDiv{
        margin-top: 1.75vW;
        margin-left: 1.75vW;
    }

   #drawing-mode-buttons button, .colorpickerbox, #enableDrawingDiv button{
      border: 0px;
      background-color: transparent;
      line-height: 0px;
   }
   .colorpickerbox img, .btn img, .btn{
        padding: 0px;
        width: 1.75vW;
    }
    .btn img{
        object-fit: fill;
    }

   #drawing-mode-buttons {
    left: 1.75vW;
    position:absolute; 
    bottom: 70px; 
    }
   
   #drawing-mode-options {
     display: inline-block; vertical-align: top; 
     margin-bottom: 1.75vW; 
     margin-top: 10px; 
     pointer-events: none; 
     position:absolute; bottom:0px; 
     left:1.75vW; 
     display: flex; align-items: 
     center;
   }
   #drawing-mode-options button, #drawing-mode-options input,#drawing-mode-options select{
     pointer-events: all;
   }

   #save2 img:active{
        content: url("/static/icons/210519-asmg-website-icons-e3_Speichern-invertiert.svg");
   }

   #save3 img:active{
        content: url("/static/icons/210519-asmg-website-icons-e3_Senden-invertiert.svg");
   }

   label {
     display: inline-block; width: 130px;
   }
   .info {
     display: inline-block;
     width: 25px;
     background: #ffc;
   }
   
   .canvas-container, canvas{
      width:100% !important;
      /* height:100% !important; */
      height: auto !important;
      border: 0px !important;
      font-size: 1.45em;
   }
   
   .lower-canvas {
       background-color: #e83a37;
       //background-image: url( {{my_image.url}} );
       background-size: cover;
       height: auto !important;
       position:  static !important;
   }
 .slider {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 5px;
  background: #000;
  -webkit-transition: .2s;
  transition: opacity .2s;
  --size: 17px; 
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb{
 border: solid black 1px;
  -webkit-appearance: none;
  background: #000;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.slider::-moz-range-thumb{
 border: solid black 1px;
  appearance: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

@media (min-width: 1500px) {
    #enableDrawingDiv{
        margin-top: var(--size_1_large);
        margin-left: var(--size_1_large);
    }
    #drawing-mode-options {
     margin-bottom: var(--size_1_large); 
     left:var(--size_1_large); 
    }
   .colorpickerbox img, .btn img, .btn{
        width: var(--size_1_large);
    }

   #drawing-mode-buttons {
    left: var(--size_1_large);
    }
   
   #drawing-mode-options {
     margin-bottom: var(--size_1_large); 
     left:var(--size_1_large); 
   }


}


   </style>

   <div class="canvas-container" style=" position: relative; user-select: none; ">
      <canvas id="c" width="1000" height="1000" style="border: 1px solid rgb(170, 170, 170); position: absolute; width: 600px; height: 600px; left: 0px; top: 0px; touch-action: none; user-select: none;" class="lower-canvas"></canvas>

      <div style="display: inline-block; position:absolute; top:0px;left:0px; line-height:0px" id="enableDrawingDiv"><button id="draw" class="btn btn-info"><img src="/static/icons/210519-asmg-website-icons-e3_Zeichnen.svg" width="30" /></button></div>

      <span>
        <div id="drawing-mode-buttons" style="display:none" class="drawing-tools">
           <button id="add-text-box" class="btn btn-info" style="display:none" title="Text einfügen"><img src="/static/icons/210519-asmg-website-icons-e3_Text.svg" width="30" /></button><br>
           <button id="drawing-mode" class="btn btn-info" title="Bleistift"><img src="/static/icons/210519-asmg-website-icons-e3_Zeichnen-Onclick.svg" width="30" /></button><br>
           <button id="muster-mode" class="btn btn-info" title="Muster"><img src="/static/icons/210519-asmg-website-icons-e3_Muster.svg" width="30" /></button><br>
           <button id="spray-mode" class="btn btn-info" title="Sprühflasche"><img src="/static/icons/210519-asmg-website-icons-e3_Spraycan.svg" width="30" /></button><br>
           <!-- <button id="serialize" class="btn btn-info"><img src="/static/img/speichern.svg" width="30" /></button><br> -->
           <button id="save2" class="btn btn-info" title="Bild herunterladen"><img src="/static/icons/210519-asmg-website-icons-e3_Speichern.svg" width="30" /></button><br>
           <button id="save3" class="btn btn-info" title="Bild an Aufsiemitgebruell senden"><img src="/static/icons/210519-asmg-website-icons-e3_Senden.svg" width="30" /></button><br>
           <button id="clear-canvas" class="btn btn-info" title="Malfläche löschen"><img src="/static/icons/211014-asmg-website-icons-e3_Delete-invertiert.svg" width="30" /></button><br>
         </div>

         <span id="drawing-mode-options" style="display:none; " class="drawing-tools">

             <!-- <label for="drawing-mode-selector">Mode:</label>-->
   <!--
 
             <select id="drawing-mode-selector">
               <option>Pencil</option>
               <option>Circle</option>
               <option>Spray</option>
               <option>Pattern</option>
               <option>hline</option>
               <option>vline</option>
               <option>square</option>
               <option>diamond</option>
               <option>texture</option>
             </select>
  -->            
 
             <!-- <label for="drawing-line-width">Pinsel</label>-->
             <input type="range" value="30" min="0" max="150" id="drawing-line-width" class="slider"><!--<span class="info">117</span>-->

            <button class="colorpickerbox" id="btn-color-schwarz" value="#000000"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Schwarz.svg" /></button>
            <button class="colorpickerbox" id="btn-color-weiß" value="#ffffff"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Weiss.svg" /></button>
            <button class="colorpickerbox" id="btn-color-rose" value="#f59dda"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Rosa.svg" /></button>
            <button class="colorpickerbox" id="btn-color-tuerkis" value="#a7c5b8"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Tuerkis.svg" /></button>
            <button class="colorpickerbox" id="btn-color-karmesin"  value="#e83a37"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Rot.svg" /></button>
            <button class="colorpickerbox" id="btn-color-poo"  value="#f8ef82"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Gelb-1.svg" /></button>
            <button class="colorpickerbox" id="btn-color-gelb"  value="#ffe936"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Gelb-2.svg" /></button>
            <button class="colorpickerbox" id="btn-color-sulfur"  value="#b39168"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Braun.svg" /></button>
            <button class="colorpickerbox" id="btn-color-blau"  value="#3fc0f0"><img src="/static/icons/210519-asmg-website-icons-e3_Farbfeld-Blau.svg" /></button>

         <!--
             <label for="drawing-shadow-color">Shadow color:</label>
             <input type="color" value="#005E7A" id="drawing-shadow-color"><br>

             <label for="drawing-shadow-width">Shadow width:</label>
             <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>

             <label for="drawing-shadow-offset">Shadow offset:</label>
             <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset"><br>
         -->
         </span>
      </span>
   </div>
</div>
<script id="main">(function() {

  var drawingColor = '#000';  //start Color aswell
  var f$ = function(id){return document.getElementById(id)};
  fabric.fontPaths['Mueller'] = "http://aufsiemitgebruell.com/static/fonts/Mueller-Black.woff2"

  var canvas = this.__canvas = new fabric.Canvas('c', {
    isDrawingMode: false,
    tool: 'Zeichnen',
  });
  canvas.setDimensions({width:1000, height:666});

  //canvas.setBackgroundColor('rgb(32,58,55)', canvas.renderAll.bind(canvas));

  onresize = (event) => {
    console.log('onresize');
      ratio = event.target.innerWidth / event.target.innerHeight; 
      canvas.forEachObject(function(object){
        if(object.type == "i-text"){
        object.scaleY = ratio / 1.3 ;
        object._clearCache();
        console.log(object.fontSize);
        }
    });
    canvas.requestRenderAll();
  };

  
  canvas.on('object:modified', function(event) {
    ratio = window.innerWidth / window.innerHeight; 
    if (event.target && event.target.type == "i-text") {
      width = event.target.getScaledWidth();
      console.log(width);
      //event.target.fontSize *= event.target.scaleX;
      event.target.scaleY = ratio / 1.3 ;
      event.target._clearCache();
    }
  });
  

  fabric.Object.prototype.transparentCorners = false;

    function deleteObjects(){
        var activeObject = canvas.getActiveObject();
        if (activeObject) {
                notie.confirm({text:'Objekt löschen. Bist du sicher?'}, function() {canvas.remove(activeObject);}
            );
        }
    }

  function untoggleTools(){
      freeDrawingModeEl.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_Zeichnen.svg";
      musterModeEl.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_Muster.svg";
      sprayModeEl.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_Spraycan.svg";
  }

  function disableFreeDrawingMode(){
      canvas.isDrawingMode = false;
      canvas.tool = false;
      drawingOptionsEl.style.display = 'none';
      untoggleTools();
  };

    function loadAndUse(font) {
      var myfont = new FontFaceObserver(font)
      myfont.load();
      canvas.requestRenderAll();
    }

  function _addText(text) {
      ratio = window.innerWidth / window.innerHeight;
      if(typeof text == 'undefined'){  text = "hier könnte dein Text stehen"};
      itext = new fabric.IText(text, { 
      left: 50,
      top: 100,
      fontFamily: 'Mueller',
      fontWeight: 'bold',
      fill: '#000',
      fontSize: 50,
      stroke: 'black',
      lockScalingFlip :true,
      scaleY: ratio / 1.3,
      });
      canvas.add(itext);
   };

  function serializeCanvas(){
      var canvasData = JSON.stringify(canvas);
      console.log(canvasData);
      var canvasData2 = canvas.toJSON();
      console.log(canvasData2);
      window.localStorage.setItem('canvasObjects', canvasData);
  }
   
   function postAjax(url, data, success) {
        var newXHR = new XMLHttpRequest();
        newXHR.open( 'POST', url );
        
        newXHR.onreadystatechange = function() {
            if (newXHR.readyState>3 && newXHR.status==200) { success(newXHR.responseText); }
        };
        //var jsonData = { name: 'aufsiemit', password: 'gebruell' };  
        // HTTP Protocol can only work with strings when transmitting data over the internet.
        // JSON is a class and .stringify is a class-method. We use it to format
        // the Javascript Data, which lives in memory, to JSON string.
        var formattedJsonData = JSON.stringify( data  );
          
        // INSPECT WHAT YOU EXPECT, compare the two.
        //console.log( data );
        //console.log( JSON.parse( formattedJsonData ) );
        
         // send it off
         newXHR.send( data );    
    }
  function isEditable(isEditable){
      canvas.forEachObject(function(object){
          if(object.class != "not-editable"){
          object.evented = isEditable;
          object.selectable = isEditable;
          }
      });
  }
  
  function loadFromLocalStorage(){
      //loadAndUse('Mueller');
      canvasData = window.localStorage.getItem('canvasObjects');
      if(canvasData == null) canvasData = JSON.stringify(canvas);
      var canvasObject = JSON.parse(canvasData);
   
      canvasObject.objects.forEach(function(object){
             object.evented = false;
             object.selectable = false;
      });      
      if(canvasObject.objects.length == 0){
        fabric.Image.fromURL('{{my_image.url}}', function(myImg) {
            myImg.id = 'background-image';
            myImg.scaleToWidth(canvas.width,true);
            canvas.setBackgroundImage(myImg, canvas.renderAll.bind(canvas), {
              originX: 'left',
              originY: 'top'
            });
          });

        fabric.loadSVGFromURL("/static/img/221116-asmg-website-todo.svg", function(svgObjects, options) {
          console.log("loadsvg");
          var svgObj = fabric.util.groupSVGElements(svgObjects, options);
          svgObj.set({ left: 360, top: 34 }).setCoords();
          svgObj.set({id: 'forground-svg',class: "not-editable", lockMovementY: true, lockMovementX: true, selectable: false, hasControls: false});
          svgObj.id = 'forground-svg';
          svgObj = svgObj.scaleToWidth(280);
          svgObj.selectable = false; 
          svgObj.evented = false;
          svgObj.hoverCursor = 'pointer';
          canvas.add(svgObj);
          console.log(svgObj);
        });
      }else{
          canvasData = JSON.stringify(canvasObject);
          canvas.loadFromJSON(canvasData, function(o, object){
            canvas.backgroundImage.scaleToWidth(canvas.width);
            canvas.item(0).set({class: "not-editable"}) 
            console.log(canvas.item(0));
            canvas.requestRenderAll();
          });
      }

/* deprecated
      var objs = canvas.getObjects().map(function(o) {
        console.log("map");
        if(o.type == "i-text"){
            console.log("map:i-text");
            console.log(o);
            canvas.remove(o);
            canvas.add(o);
        }
      });

      console.log(objs);
      var arr = canvasObject.objects
      arr.forEach(function (o, index){ 
        console.log("foreach");
        if(o.type == "i-text"){
            console.log("foreach:i-text");
            console.log(o.text);
            canvas.remove(o);
            _addText(o.text);
        }
      });      
  */    
      canvas.requestRenderAll();
  }

  /* deprectated */
  function addBackgroundImage(the_id){
    console.log("addBackgroundImage");
    fabric.Image.fromURL('{{my_image.url}}', function(myImg) {
            myImg.set({class: "not-editable", id: the_id});
            myImg.scaleToWidth(canvas.width,true);
            canvas.add(myImg);
            canvas.sendToBack(myImg);
    });
  }

function deleteObject(id){
    canvas.getObjects().forEach(function(o) {
        if(o.id === id) {
            canvas.remove(o)
        }
    })
  }


  canvas.freeDrawingBrush.width = 20;

  var drawModeEl = f$('draw'),
      freeDrawingModeEl = f$('drawing-mode'),
      musterModeEl = f$('muster-mode'),
      sprayModeEl = f$('spray-mode'),
      drawingButtonsEl = f$('drawing-mode-buttons'),
      drawingOptionsEl = f$('drawing-mode-options'),
      toggle = f$('toggle'),
      drawingShadowColorEl = '#005E7A', //f$('drawing-shadow-color'),
      drawingLineWidthEl = f$('drawing-line-width'),
      drawingShadowWidth = 0, //f$('drawing-shadow-width'),
      drawingShadowOffset = 0, //f$('drawing-shadow-offset'),
      clearEl = f$('clear-canvas');
      addText = f$('add-text-box');
      serialize = f$('serialize');
      save = f$('save');


  document.body.onload = function(e){
    loadFromLocalStorage();
  }  
  
  window.onkeydown = function(e){
    if(e.code == "Delete"){
        deleteObjects();
    }else if(e.code == "Digit1"){
       addBackgroundImage("backgroundImage"); 
    }else if(e.code == "Digit2"){
       deleteObject("backgroundImage"); 
    }

  }
  
  canvas.on('object:added', function(options) {
     serializeCanvas();
     console.log("object added");
  });
  
  canvas.on('object:removed', function(options) {
     serializeCanvas();
     console.log("object removed");
  });
  
  clearEl.onclick = function() { 
      notie.confirm({text:'Alles löschen. Bist du sicher?'}, function() {
        canvas.clear();
        serializeCanvas();
        loadFromLocalStorage();
      });
  };

    function setColor(){
        var brush = canvas.freeDrawingBrush;
        brush.color = this.value;
        drawingColor = this.value;
        if (brush.getPatternSrc) {
          brush.source = brush.getPatternSrc.call(brush);
        }
    }

    f$("btn-color-schwarz").onclick = setColor;
    f$("btn-color-weiß").onclick = setColor;
    f$("btn-color-rose").onclick = setColor;
    f$("btn-color-tuerkis").onclick = setColor;
    f$("btn-color-karmesin").onclick = setColor;
    f$("btn-color-poo").onclick = setColor;
    f$("btn-color-gelb").onclick = setColor;
    f$("btn-color-sulfur").onclick = setColor;
    f$("btn-color-blau").onclick = setColor;

    function enableFreeDrawingMode(){
      canvas.isDrawingMode = true;
      drawingOptionsEl.style.display = '';
    }
  
  function enableTool(element, tool){
    if (canvas.tool == tool) {
      disableFreeDrawingMode();
    }else{
      untoggleTools();
      canvas.tool = tool;
      element.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_"+tool+"-Onclick.svg";
      enableFreeDrawingMode();
    }
  }
  
  drawModeEl.onclick = function() {
    if (drawingButtonsEl.style.display == 'none') {
      drawModeEl.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_Schliessen.svg";
      drawingButtonsEl.style.display = '';
      enableFreeDrawingMode();
      isEditable(true);
    }
    else {
      drawModeEl.firstChild.src = "/static/icons/210519-asmg-website-icons-e3_Zeichnen.svg";
      drawingButtonsEl.style.display = 'none';
      disableFreeDrawingMode();
      isEditable(false);
    }
  };
  
    var squarePatternBrush = new fabric.PatternBrush(canvas);
    squarePatternBrush.getPatternSrc = function() {

      var squareWidth = 100, squareDistance = 2;

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = squareWidth + squareDistance;
      var ctx = patternCanvas.getContext('2d');

      ctx.fillStyle = this.color;
      ctx.fillRect(0, 0, squareWidth, squareWidth);

      return patternCanvas;
    };
  
  if (fabric.PatternBrush) {
    var vLinePatternBrush = new fabric.PatternBrush(canvas);
    vLinePatternBrush.getPatternSrc = function() {

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = 10;
      var ctx = patternCanvas.getContext('2d');

      ctx.strokeStyle = this.color;
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(0, 5);
      ctx.lineTo(10, 5);
      ctx.closePath();
      ctx.stroke();

      return patternCanvas;
    };

  freeDrawingModeEl.onclick = function() {
    enableTool(this, "Zeichnen");
    selectDrawingBrush("Pencil");
  };

  musterModeEl.onclick = function() {
    /*canvas.freeDrawingBrush = squarePatternBrush;*/
    enableTool(this, "Muster");
    selectDrawingBrush("Pattern");
  };

  sprayModeEl.onclick = function() {
    enableTool(this, "Spraycan");
    selectDrawingBrush("Spray");
  };


  addText.onclick = function(){
    _addText();
    disableFreeDrawingMode();
  }
 /*
   serialize.onclick = function() {
      serializeCanvas();
      console.log(canvasData);      
   }
*/
    var textFile = null;
    makeTextFile = function (text) {
        var data = new Blob([text], {type: 'text/svg'});
        if (textFile !== null) {
          window.URL.revokeObjectURL(textFile);
        }
        textFile = window.URL.createObjectURL(data);
        // returns a URL you can use as a href
        return textFile;
    };

    makePNGFile = function (dataUrl) {
        var data = new Blob([dataUrl], {type: 'image/png'});
        if (textFile !== null) {
          window.URL.revokeObjectURL(textFile);
        }
        textFile = window.URL.createObjectURL(data);
        // returns a URL you can use as a href
        return textFile;
    };

/*
    var create = document.getElementById('save2');
    
      create.addEventListener('click', function () {
      console.log(fabric);
      console.log(fabric.fontPaths);
      //canvas.createSVGFontFacesMarkup(objects);
      text = canvas.toSVG();
      console.log(text);
      //dataUrl = canvas.toDataURL('png');
      //console.log(dataUrl);
      
        var link = document.createElement('a');
        link.setAttribute('download', 'bild.svg');
        link.href = makeTextFile(text);
        document.body.appendChild(link);
    
        // wait for the link to be added to the document
        window.requestAnimationFrame(function () {
          var event = new MouseEvent('click');
          link.dispatchEvent(event);
          document.body.removeChild(link);
        });
    
      }, false);
*/

    var create = document.getElementById('save2');
    
      create.addEventListener('click', function () {
        //addBackgroundImage("backgroundImage"); 
          dataUrl = canvas.toDataURL('png');
          console.log(dataUrl);
        
          var link = document.createElement('a');
          link.setAttribute('download', 'aufsiemitgebruell.svg');
          link.href = dataUrl;
          document.body.appendChild(link);
      
          // wait for the link to be added to the document
          window.requestAnimationFrame(function () {
            var event = new MouseEvent('click');
            link.dispatchEvent(event);
            document.body.removeChild(link);
          });
          deleteObject("backgroundImage"); 
      }, false);


    var saveToServer = document.getElementById('save3');
    saveToServer.onclick = function(){
        svgData = canvas.toSVG();
        //data = "{}"
        saveUrl = "http://{{request.get_host}}/save_malen/";
        console.log(saveUrl);
        
        postAjax(saveUrl, svgData, function(){
          notie.alert({ type: 1, text: 'Bild wurde gespeichert', stay: true }) 
        });
        deleteObject("backgroundImage");
    }
    
    function addFontToSvg(svg){
        //styleText = " <style>@font-face { font-family: 'mueller_black'; src: local(''), url(http://aufsie.hosting155579.a2edc.netcup.net/static/fonts/Mueller-Black.woff2) format('woff2'),  url('http://aufsie.hosting155579.a2edc.netcup.net/static/fonts/Mueller-Black.woff) format('woff'); } </style>";
        //svg.     
    }
      
    
   
    var hLinePatternBrush = new fabric.PatternBrush(canvas);
    hLinePatternBrush.getPatternSrc = function() {

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = 10;
      var ctx = patternCanvas.getContext('2d');

      ctx.strokeStyle = drawingColor;
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(5, 0);
      ctx.lineTo(5, 10);
      ctx.closePath();
      ctx.stroke();

      return patternCanvas;
    };

    var diamondPatternBrush = new fabric.PatternBrush(canvas);
    diamondPatternBrush.getPatternSrc = function() {
      var squareWidth = 10, squareDistance = 5;
      var patternCanvas = fabric.document.createElement('canvas');
      var rect = new fabric.Rect({
        width: squareWidth,
        height: squareWidth,
        angle: 45,
        fill: this.color
      });
      var canvasWidth = rect.getBoundingRect().width;

      patternCanvas.width = patternCanvas.height = canvasWidth + squareDistance;
      rect.set({ left: canvasWidth / 2, top: canvasWidth / 2 });

      var ctx = patternCanvas.getContext('2d');
      rect.render(ctx);

      return patternCanvas;
    };

    //var img = new Image();

    var texturePatternBrush = new fabric.PatternBrush(canvas);
  }

  function selectDrawingBrush(value) {
    if (value === 'hline') {
      canvas.freeDrawingBrush = vLinePatternBrush;
    }
    else if (value === 'vline') {
      canvas.freeDrawingBrush = hLinePatternBrush;
    }
    else if (value === 'square') {
      canvas.freeDrawingBrush = squarePatternBrush;
    }
    else if (value === 'diamond') {
      canvas.freeDrawingBrush = diamondPatternBrush;
    }
    else if (value === 'texture') {
      canvas.freeDrawingBrush = texturePatternBrush;
    }
    else {
      canvas.freeDrawingBrush = new fabric[value + 'Brush'](canvas);
    }

    if (canvas.freeDrawingBrush) {
      var brush = canvas.freeDrawingBrush;
      brush.color = drawingColor;
      if (brush.getPatternSrc) {
        brush.source = brush.getPatternSrc.call(brush);
      }
      brush.width = 30; //parseInt(drawingLineWidthEl.value, 10) || 10;
      brush.shadow = new fabric.Shadow({
        blur: parseInt(drawingShadowWidth.value, 10) || 0,
        offsetX: 0,
        offsetY: 0,
        affectStroke: true,
        color: drawingColor,
      });
    }
  };
  
  /*
  f$('drawing-mode-selector').onchange = function() {
        selectDrawingBrush(this.value);
    }
  */

  
  drawingShadowColorEl.onchange = function() {
    canvas.freeDrawingBrush.shadow.color = this.value;
  };
  
  drawingLineWidthEl.onchange = function() {
    canvas.freeDrawingBrush.width = parseInt(this.value, 10) || 1;
    this.previousSibling.innerHTML = this.value;
  };

  drawingLineWidthEl.onmousemove = function() {
    this.style.setProperty('--size', 12+this.value/8+"px");
  }

  drawingShadowWidth.onchange = function() {
    canvas.freeDrawingBrush.shadow.blur = parseInt(this.value, 10) || 0;
    this.previousSibling.innerHTML = this.value;
  };
  drawingShadowOffset.onchange = function() {
    canvas.freeDrawingBrush.shadow.offsetX = parseInt(this.value, 10) || 0;
    canvas.freeDrawingBrush.shadow.offsetY = parseInt(this.value, 10) || 0;
    this.previousSibling.innerHTML = this.value;
  };

/* deprecated ?
  if (canvas.freeDrawingBrush) {
    canvas.freeDrawingBrush.color = drawingColor;
    canvas.freeDrawingBrush.source = canvas.freeDrawingBrush.getPatternSrc.call(this);
    canvas.freeDrawingBrush.width = parseInt(drawingLineWidthEl.value, 10) || 1;
    canvas.freeDrawingBrush.shadow = new fabric.Shadow({
      blur: parseInt(drawingShadowWidth.value, 10) || 0,
      offsetX: 0,
      offsetY: 0,
      affectStroke: true,
      color: drawingShadowColorEl.value,
    });
  }
*/  
})();
</script>

