{% load wagtailcore_tags wagtailimages_tags static %}

<div class="width2">
    <h3>{{ value.sum_page.title }}</h3>
    {{ value.sum_page.specific.teaser|richtext }}

<a class="plus" href="{{ value.sum_page.url }}"><img src="{% static "img/plus.svg" %}"/></a>
</div>

<div class="width4">
    {% if value.sum_page.specific.image %}
        {% include "image.html" with width="4" img=value.sum_page.specific.image %}
    {% endif %}
</div>
