{% load wagtailcore_tags wagtailimages_tags static %}


<div class="width3">
<a class="plus" href="{{ value.sum_page.url }}">
    {% if value.sum_page.specific.image %}
        {% include "image.html" with width="4" img=value.sum_page.specific.image %}
    {% endif %}
    <h3>{{ value.sum_page }}</h3>
</a>
</div>
