{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailvideos_tags%}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

{% if page.header_video %}
<div class="header_video video-block width6">
    {% video page.header_video autoplay=autoplay loop muted %}
</div>
{% elif page.image %}
<div class="content-page-image width6 header_image">
    {% include "image.html" with width="6" img=page.image %}
</div>
{% endif %}

{% for block in page.body %}
    {% include_block block with id=block.id%}  {# This block will output its own wrapper markup. #}
    
{% endfor %}

{% endblock content %}

