{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content %}
    {% if category %}
    <h2>{{ category }}</h2>
    {% endif %}
    {% if tag %}
    <h2>Posts tagged with '{{ tag }}'</h2>
    {% endif %}

    {% for rl in self.related_links.all %}
        <p>{{ rl.title }}: <a href='{{ rl.link_page.url }}'>{{ rl.link_page }}</a></p>
    {% endfor %}

    {% if childs %}
        {% for item in childs %}
            {{value.rules}}
            {% include 'home_blocks/latest_child_block.html' with include_context="index_page" value=display %}
        {% endfor %}

        <!--
        <ul class="pager">
        {% if blogs.has_next %}
          <li class="previous"><a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&larr; Older</a></li>
        {% endif %}
        {% if blogs.has_previous %}
          <li class="next"><a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Newer &rarr;</a></li>
        {% endif %}
        </ul>
        -->
        
    {% else %}
        <p>There is currently no content available</p>
    {% endif %}        
{% endblock %}
