{% extends "base.html" %}
{% load static wagtailcore_tags wagtailvideos_tags%}
{% block body_class %}projectpage_body{% endblock %}

{% block leftcontent_right %}   
    <div class="leftcontent_right">
    <a class="pfeil_links" href="{{page.prev_project}}"><img src="{% static 'img/pfeil_links.svg' %}" ></a>  <a href="{{page.next_project}}"><img  src="{% static 'img/pfeil_rechts.svg' %}"></a>
    </div>
{% endblock %}

{% block content %}

{% if page.header_video %}
<div class="header_video video-block width6">
    {% video page.header_video autoplay=autoplay loop muted %}
</div>
{% elif page.image %}
<div class="content-page-image width6 header_image">
{% include "image.html" with width="6" img=page.image %}
</div>
{% endif %}
<div class="width6"><h3>{{page.title}}</h3></div>
<div class="width4">{{page.main_text|richtext}}</div>

{% if page.tags.count %}
    <div class="width2 gapL1">
        {% for tag in page.tags.all|dictsortreversed:"id" %}
            {# Loop through all the existing tags #}
            &#9654; <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a><br />
        {% endfor %}
    </div>
{% endif %}


{% for block in page.body %}
    {% include_block block with id=block.id%}  {# This block will output its own wrapper markup. #}
{% endfor %}

{% endblock content %}

