.left, .naviarea, .navitop, .menu_icon{
    background-color:inherit;
}

wrapper {
  display: block;
  width: 3vW;
  height: 3vW;
  background:inherit;
}

.sburger{
  position:relative;
  height: 2.6vW;
  width: 2.6vW;
  border-radius: 4px;
  background: #000;
}

wrapper bun burger {
  position: absolute;
  display: flex;
  align-items: center;
  height: 2.6vW;
  width: 2.6vW;
  top: 1px;
}

wrapper bun burger:before, wrapper bun burger:after, wrapper bun:before, wrapper bun:after{
  content: "";
  background: #f2f2f2;
  position: absolute;
  width: 78%;
  height: 12%;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
  z-index:1;
}

wrapper bun burger:before, wrapper bun burger:after, wrapper bun:after{
   left:11%;
}

wrapper bun:before{
  top: 10%;
  right: 10%;
}
wrapper bun:after {
  bottom: 10%;
}

wrapper input {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 2.6vW;
  height: 2.6vW;
  cursor: pointer;
}
wrapper input:hover ~ bun:before, wrapper input:hover ~ bun:after, wrapper input:hover ~ bun :before, wrapper input:hover ~ bun :after {
  background: #fff;
}
wrapper input:checked ~ section bun:before, wrapper input:checked ~ section bun:after {
  width: 0;
}
wrapper input:checked ~ section bun burger:before {
  transform: rotate(135deg);
}
wrapper input:checked ~ section bun burger:after {
  transform: rotate(45deg);
  box-shadow: 0 0 0 0 #d3eefc;
}

.nav, nav{
    margin-top:80px;
    display:none;
    background:inherit;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:84vH;
    text-transform:uppercase;
}

nav .sub{
    margin-left:15px;
}

.nav li, nav li{
    font-size: 1.5em; 
    list-style-type: none;
}

wrapper input:checked ~ .nav, wrapper input:checked ~ nav {
    display:block;
}
wrapper input:checked ~ .nav, wrapper input:checked ~ navcontent {
    display:none;
}

