.left, .naviarea, .navitop, .menu_icon{
    background-color:inherit;
}

.naviarea a{
    text-decoration:none;
    font-weight:bold;
    color:black;
}

label.hamburg { 
   display: block;
   background: #555; width: 45px; height: 40px; 
   position: relative; 
   margin-left: auto; margin-right: auto;
   border-radius: 2px; 
}

input#hamburg {display:none}

.line { 
   position: absolute; 
   top: 0px;
   left:7px;
   height: 3px; width: 30px;
   background: #fff; border-radius: 2px;
   display: block; 
   transition: 0.5s; 
   transform-origin: center; 
}

.line:nth-child(1) { top: 10px; }
.line:nth-child(2) { top: 20px; }
.line:nth-child(3) { top: 30px; }

#hamburg:checked + .hamburg .line:nth-child(1){
   transform: translateY(12px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2){
   opacity:0;
}

#hamburg:checked + .hamburg .line:nth-child(3){
   transform: translateY(-12px) rotate(45deg);
}

.nav, nav{
    margin-top:20px;
    display:none;
    background:inherit;
    position: absolute;
    top:60px;
    left:0px;
    width:100%;
    height:84vH;
    text-transform:uppercase;
}

nav .sub{
    margin-left:15px;
}

.nav li, nav li{
    font-size: 1.5em; 
    list-style-type: none;
}

#hamburg:checked ~ .nav, #hamburg:checked ~ nav {
    display:block;
}
#hamburg:checked ~ .nav, #hamburg:checked ~ navcontent {
    display:none;
}

