/* roboto-regular - latin */
@font-face {
  font-family: 'Mueller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Mueller-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Mueller-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Mueller';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/Mueller-Bold2.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Mueller-Bold2.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Mueller';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/Mueller-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Mueller-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
