@import 'variables.css?v1.2';

html{
    height:100%;
}

body{
    height:100%; 
	font-family: 'Mueller';
	font-weight:600;
    letter-spacing: 0.4px;
	font-size: 1.45vW;
	width: 100%;
	margin: 0 auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h2{
   text-transform:uppercase;
   margin:0px;
   font-size: 1.75vW;    
}

h3{
   margin-top:0px;
   font-size: 1em; 
   text-transform:uppercase;
   line-height:120%;
   margin-bottom: -0.6vW;
}
h4{
   margin: 0vW;
}

p{
    line-height:120%;
    margin:0px;
}

p:empty:before {
  content: ' ';
  white-space: pre;
}

.bildunterschrift p:empty:before{
    content: none;
    white-space: normal;
}


a{
    text-decoration:none;
    color: #000;
}
a:hover{
    text-decoration-line: none;
    color: #E83A37;
    text-decoration-thickness: 0.2vW;
}

ul{
    margin:0px;
}

img{
    object-fit: cover;
    /*width:100%; */
    /* height:100%; */
}

.left{
  position:fixed;
  left:0px;
  width:33%;
}

.right{
  padding-top: 1.75vW;
  padding-bottom: 1.75vW;
  position:absolute;
  right:0vW;   /*6.6vW;*/
  top:0px;
  width:65.25%;
  /* overflow-x:hidden; */
  display: grid;
  grid-template-columns:repeat(6, 1fr); /* 16%);*/
  grid-gap: 1.75vW;
  grid-auto-flow: dense;

}

.bottom-margin{
    margin-bottom: 1.75vW;
}

.spacer2x{
    height:calc(2*var(--size_1_any));
    grid-column: 1 / span 6;
}


@media (min-width: 1500px) {
    body{
        font-size: 1.25em;
    }
    
    h2{
       font-size: 1.25em;
    }
    
    h3{
       margin-top:0px;
       font-size: 1em; 
       text-transform:uppercase;
    }
    .right{
        padding-top: var(--size_1_large);
        grid-gap: var(--size_1_large);
        padding-bottom: var(--size_1_large);

    }
    .bottom-margin{
        margin-bottom: var(--size_1_large);
    }
    
}

@media (max-width: 800px) {

    a:hover{
        text-decoration-thickness: 0.15em;
    }

    h3{
       margin-bottom: 0vW;
    }
    
    h2{
       text-transform:uppercase;
       margin-top:0px;
       font-size: 1.25em;    
    }
    
    body{
        font-size: 1.25em;
    }
    
    .right{
      position:static;
      width:auto;
      margin-left:1.25em;
      padding-top: 0em;
      padding-right:1.25em;
      padding-bottom: 0em;
      grid-gap: 1.25em;
      grid-template-columns:repeat(6, 1fr);
    }
    
    
    
    .left {
      position: static;
      background-color: red;
      width:100%;
    }
    
    .startpage{
      display:none;
    }
    
    .navitop{
        position:fixed;
        width:100%;
        margin: 0px;
    }
    .navcontent{
        margin-top:50px;
    }
    .menu_icon{
        margin-right:50px;
    }




}
