.bildunterschrift{
    padding-top:0.875vW;
}

.pre_tags{
    line-height: 1;
    margin-bottom: 2.1vW;
}

.post_tags{
    display:none;
    margin-top: 0.6em;
}

.startpage{
   /* background: #e83a37;
   width:100%; 
   height: 100vH; */
   margin-top: -1.75vW;
}
.header_image img, .header_video video{
    margin-top:-1.75vW;
}

.background_image{
    width:100%;
    margin-bottom: -0.6vW;
}
.video-block video{
    width:100%;
}
.w4right{
    grid-column: 3 / span 4;
}

.width6{
    grid-column: 1 / span 6;
}

.height60{
    height: 60%
}
.height20{
    height: 60%
}

.width2{
    grid-column: auto / span 2;
}

.width3{
    grid-column: auto / span 3;
}

.width4{
    grid-column: auto / span 4;
}

.right .content-paragraph > *{
    margin-right: 1.75vW;
}

.gapL1{
    padding-left: var(--size_1_any);
}

@media (min-width: 1500px) {
    .right .content-paragraph > *{
        margin-right: var(--size_1_large);
    }
    
    .startpage{
       margin-top: calc(var(--size_1_large) * -1);
    }

    .pre_tags{
        margin-bottom: 29px;
    }
    
}

@media (max-width: 800px) {
    .right .content-paragraph > * {
        margin-right: var(--size_1_mobile);
    }

    .pre_tags{
        display:none;
    }

    .bildunterschrift{
        padding-top:0.625em;
    }

    .header_image img{
        margin-top:0vW;
    }

    .width2{
        grid-column: auto / span 6;
    }

    .width3{
        grid-column: auto / span 6;
    }

    .width4{
        grid-column: auto / span 6;
    }
    .w4right{
        grid-column: auto / span 6;
    }

    .w4right{
        grid-column: auto / span 6;
    }

    .homepage_body .w4right{
        padding-top: var(--size_1_mobile);    
    }

}
