@import 'variables.css';

.menu_icon{
    float:right;
}

.naviarea {
  top:0px;
  margin: 0;
   display:flex;
   flex-direction: column;  
   height:100vH;
}

.navitop{
  padding-left: 1.75vW;
  padding-top: 1.75vW;
}

.navcontent{
  padding-left: 1.75vW;
  padding-top: 3.15vW;
  display:flex; 
  justify-content: space-between;
}

.leftcontent_right{
    margin-left:1.75vW;
    min-width:1.75vW;
}

.leftcontent_right img{
    width: 1.75vW;
}

.leftcontent_right .pfeil_links{
  display: block;
  padding-bottom: 1vW;
}


.navifooter{
    margin: auto 0vW 1.75vW 1.75vW;
}

@media (min-width: 1500px) {


  .leftcontent_right img{
    width: var(--size_1_large);
  }
 
  .leftcontent_right{
    margin-left: var(--size_1_large);
    min-width: var(--size_1_large);
  }

  .leftcontent_right .pfeil_links{
    padding-bottom: 15px;
  }

  .navitop{
    padding-left: var(--size_1_large);
    padding-top: var(--size_1_large);
  }

  .navcontent{
    padding-left: var(--size_1_large);
    padding-top: 2.2em;
  }
  .navifooter{
    margin: auto 0vW var(--size_1_large) var(--size_1_large);
  }

}
@media (min-width: 800px) {
  .mobile_impressum{
    display:none;
  }
  .about_home{
        display:none;
     }
}

@media (max-width: 800px) {
  .mobile_impressum{
    grid-column: 1 / span 6;
    padding: 1.25em 0em;
  }

.naviarea {
   height:auto;
}


.navifooter{
    display:none;
    margin: auto 0vW 1.25em 1.25em;
}
.about_navi{
    display:none;
}
.navitop{
  padding: var(--size_1_mobile) 0 var(--size_1_mobile) var(--size_1_mobile);
}

.navcontent{
  padding-left: 1.25em;
  padding-top: 2.25em; 
}
.leftcontent_right{
    margin-right:var(--size_1_mobile);
    margin-left: auto;
    min-width:1.25em;
}

.leftcontent_right img{
    width: 1.25em;;
}

.leftcontent_right .pfeil_links{
  display: inline-block;
  padding-right: var(--size_1_mobile);
}



}
