html{
    height:100%;
    }

body{
    height:100%; 
	display: grid;
	grid-template-columns:32vW 66vW;
	grid-gap: 0;
	font-family:Roboto;
	font-size: 1.25em;
	width: 100%;
	margin: 0 auto;
}

h2{
   margin-top:0px;
   padding-top:25px;
   
}

.left{
  grid-column-start:1;
  position: sticky;
  top:0px;
}

.right{
   grid-column-start:2;
}

