@import 'variables.css';

.left, .naviarea, .navitop, .menu_icon{
    background-color:inherit;
}

@keyframes example{
  from {margin-left: -100px;}
  to {margin-left: 0px;}
}


wrapper {
  display: block;
  width: 1.75vW;
  height: 1.75vW;
  background:inherit;
}

.sburger{
  position:relative;
  height: 2.6vW;
  width: 2.6vW;
  border-radius: 4px;
  background: #000;
}

wrapper bun burger {
  position: absolute;
  display: flex;
  align-items: center;
  height: 2.6vW;
  width: 2.6vW;
  top: 1px;
}

wrapper bun burger:before, wrapper bun burger:after, wrapper bun:before, wrapper bun:after{
  content: "";
  background: #f2f2f2;
  position: absolute;
  width: 78%;
  height: 12%;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
  z-index:1;
}

wrapper bun burger:before, wrapper bun burger:after, wrapper bun:after{
   left:11%;
}

wrapper bun:before{
  top: 10%;
  right: 10%;
}
wrapper bun:after {
  bottom: 10%;
}

wrapper input {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  min-width: 4vW;
  min-height: 4vW;
  margin:-1vW 0 0 -1.2vW;
}
wrapper input:hover ~ bun:before, wrapper input:hover ~ bun:after, wrapper input:hover ~ bun :before, wrapper input:hover ~ bun :after {
  background: #fff;
}
wrapper input:checked ~ section bun:before, wrapper input:checked ~ section bun:after {
  width: 0;
}

wrapper input:checked ~ section bun burger:before {
  transform: rotate(135deg);
}
wrapper input:checked ~ section bun burger:after {
  transform: rotate(45deg);
  box-shadow: 0 0 0 0 #d3eefc;
}

.nav, nav{
    padding-left: 1.75vW;
    margin-top:4.8vW;
    padding-top:2.2vW;
    display:none;
    background:inherit;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:84vH;
    text-transform:uppercase;
}

nav .sub{
    margin-left:15px;
}
nav ul{
    padding-left: 0px;
}

.nav li, nav li{
    font-size: 1.75vW; 
    list-style-type: none;
    line-height: 1.2em;
}

wrapper input:checked ~ .burger_img_wrapper::before{
   content:url("/static/icons/210519-asmg-website-icons-e3_schliessen-menu.svg");    
}
wrapper input:checked ~ .burger_img_wrapper >.burger_img{
   display: none;
}
wrapper input:checked ~ .nav, wrapper input:checked ~ nav {
    display:block;
    /* animation-name: example; 
    animation-duration: 1s;    */

}
wrapper input:checked ~ .nav, wrapper input:checked ~ .navcontent , wrapper input:checked ~ .navifooter{
    display:none;
}

.menu_impressum{
    display:none;
    width:100%;
    position:absolute;
    left:1.75vW;
    bottom: 1.75vW;
    z-index:3000;
}

wrapper input:checked ~ .menu_impressum{
    display:block;
}

@media (min-width: 1500px) {

  wrapper {
    width: var(--size_1_large);
    height: var(--size_1_large);
  }
  wrapper input{
    min-width: 50px;
    min-height: 50px;
    margin:-12px 0 0 -14px;
  }
  
  .menu_impressum{
    left:var(--size_1_large);
    bottom:var(--size_1_large);
  }
  .nav, nav{
    padding-left: var(--size_1_large);
    margin-top:55px;
    padding-top:40px;
  }
  .nav li, nav li{
    font-size: var(--size_1_large); 
  }
}


@media (max-width: 800px) {

  wrapper input {
    min-width: 4em;
    min-height: 4em;
    margin-left:-1.1em;
    margin-top:-0.95em;
  }

  .menu_impressum{
      left:1.25em;
      top: 100vH;
      margin-top:-2.5em;
      bottom:auto;
  }

  wrapper{
      height: 1.25em;
      width: 1.25em;
  }
  .nav, nav{
      height:100vH;
      padding-left: 1.25em;
      margin-top:2.6em;
      padding-top:2.4em;
  }

  .navifooter{
      display:none;
  }
  .nav li, nav li{
      font-size: 1.25em; 
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  .selector:not(*:root), .chrome .menu_impressum{
    top: 95vH;
  }
}
