:root {
    --size_1_large: 25px;
    --size_1_desktop: 1.75vW;
    --size_1_mobile: 1.25em;

    
  }
  @media (max-width: 1500px) {
    :root{
      --size_1_any: 1.75vW;
    }
  }
  @media (min-width: 1500px) {
    :root{
      --size_1_any: 25px;
    }
  }
  @media (max-width: 800px) {
    :root{
      --size_1_any: 1.25em;
    }    
  }

  