{% load static wagtailuserbar wagtailcore_tags wirsind_tags %}

<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="icon" type="image/svg+xml" href=" {% static 'img/210504-asmg-website-icons-e1_Favicon.svg' %}">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        {# Global stylesheets #}
        <link rel="preload" as="font" href="{% static 'fonts/Mueller-Black.woff2' %}" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{% static 'fonts/Mueller-Bold2.woff2' %}" type="font/woff2" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}?v=1.1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/aufsie_main.css' %}?v=1.3">
        <link rel="stylesheet" type="text/css" href="{% static 'css/aufsie_left.css' %}?v=1.1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/aufsie_content.css' %}?v=1.62">
        <link rel="stylesheet" type="text/css" href="{% static 'css/burger_menu3.css' %}?v=1.4">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" style="background-color:{{page.color}}">

        <div class="left">
            <div class="naviarea" >
                <div class="navitop">
                {% include "burger3.html" %}
                </div>    
                
                <section id="navcontent-section" class="navcontent">      
                <div class="about about_navi">
                    {% intro %}
                </div>
                {% block leftcontent %}        
                {% endblock %}
                {% block leftcontent_right %}
                <div class="leftcontent_right"></div>
                {% endblock %}
                </section>

                <div id="navifooter-section" class="navifooter">
                {% block navifooter %}        
                    <h3 style="margin:0px;"><a href="/impressum">Impressum</a></h3>
                {% endblock %}
                </div>
            </div>    
        </div>

        <div class="right">
                {% block content %}
                {% endblock %}
        <footer class="mobile_impressum">
            <h3 style="margin:0px;"><a href="/impressum">Impressum</a></h3>
        </footer>
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/aufsie.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        {% wagtailuserbar %}
    </body>
</html>




   

