{% load nav_menu_tags %}

<div class="menu_icon">
    <input type="checkbox" id="hamburg">
    <label for="hamburg" class="hamburg">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </label>
    {% get_nav_menu 'top' %}
</div>
<a href="/"><h2>{% with self.get_site.site_name as site_name %}
    {% if site_name %}{{ site_name }}{% endif %}
    {% endwith %}
</h2></a>

