{% load nav_menu_tags %}

<wrapper class="menu_icon">
    <input id="burger-toggle-input" type="checkbox" onclick="toggelMenu()"/><section class="sburger"><bun><burger></burger></bun></section>    
    {% get_nav_menu 'top' %}
</wrapper>
<a href="/"><h2>{% with self.get_site.site_name as site_name %}
    {% if site_name %}{{ site_name }}{% endif %}
    {% endwith %}
</h2></a>

