{% load nav_menu_tags static %}

<wrapper class="menu_icon">
    <input id="burger-toggle-input" type="checkbox" onclick="toggelMenu()"/>
    <span class="burger_img_wrapper">
    <img src="{% static "icons/210519-asmg-website-icons-e3_Burger-Icon.svg"  %}" class="burger_img">
    </span>
    {% get_nav_menu 'top' %}
    <div class="menu_impressum">
        <h3 style="margin:0px;"><a href="/impressum">Impressum</a></h3>
    </div>
    
</wrapper>
<a href="/"><h2>{% with self.get_site.site_name as site_name %}
    {% if site_name %}{{ site_name }}{% endif %}
    {% endwith %}
</h2></a>


