<div class="right">
   <div class="startpage">
      <h1>Willkommen 
     Fläche mit
   tollem Slogan</h1>
   </div>
   <div>
   STADTWERKSTATT BERLINER MITTE
Die Stadtwerkstatt ist ein Entwicklungs- 
und Kreativraum, in dem unterschiedlichs-
te Akteur*innen der Stadtgesellschaft ihre 
Anliegen für die Berliner Mitte vorbringen. 
Seit Oktober 2018 betreuen wir das Pro-
jekt Schulter an Schulter mit dem Institut 
für partizipatives Gestalten auf der visuel-
len Seite. Neben einem.
(MEHR SEHEN)
   </div>
      
</div>
