<div class="sticky">
<h2>AUFSIEMITGEBRÜLL</h2> 
aufsiemitgebrüll ist ein Studio für blabla Kommunikation und Gestaltung mit blagesellschaftlichem Gespür. Hallihallo Bla Wir vereinen strategisches 
 Verständnis, inhaltliche Kompetenz und hand werkliche Perfektion. Wir denken crossmedial und interdisziplinär. Wir bauen nicht nur prägnante Corporate Designs und bla nnovative Websites, drehen ästhetische Videos oder entwerfen schicke  Logos — Wir zeigen auch Wege und Strukturen. 
 Wir geben Antworten auf bisher nicht gestellt Fragen und denken schneller als jeder Löwe brüllen  kann. Mit unseren Projektpartner*innen und Auftraggeber*innen führen wir einen Dialog, der über Papier und Bildschirm hinausgeht. Entwickeln ist unsere Stärke. 
hey@aufsiemitgebruell.de 
+49 151 2872 1234 
Schnellerstraße 127 
12439 Berlin 
   
</div>   
